@media(max-width: 700px){
    header{
        background-image: url(../aesthetic-spring-31.jpg);
        background-position: center;
        background-repeat: no-repeat;
        transition-property: all;
        transition-duration: 2s;
    }

    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    .navbar{
        flex-direction: column;
    }
    
    .ul-list{
        flex-direction: column;
        top: 100px;
        text-align: center;
        width: 150px;
        height: 300px;
    }
    .navigation.active{
        display: block;
        width: 100px;
        margin: 0 auto;
               
    }

    .line.oneLine{
        transform: rotate(50deg);
        transition: 1.5s;
        background-color: blue;
        right: 30px;
    }
    .line.twoLine{
        transform: rotate(-50deg);
        transition: 1.5s;
        background-color: blue;
    }
    .line.threeLine{
        display: none;
    }

}