@media(max-width: 700px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    .navbar{
        flex-direction: column;
    }
    
    ul{
        flex-direction: column;
        top: 10px;
    }
    .navigation.active{
        display: block;
        width: 100px;
        margin: 0 auto;
        height: 120px;        
    }

    .line.line1{
        transform: rotate(45deg);
        transition: 1s;
    }
    .line.line2{
        display: none;
    }
    .line.line3{
        transform: rotate(-45deg);
        transition: 1s;
    }
}