
header{
    background-color:  rgb(205, 174, 235);
    padding: 30px;
    align-items: center;
    position: relative;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navigation-div{
    display: flex;
    justify-content: space-between;
}

.line{
    width: 30px;
    height: 2px;
    background: white;
    margin-top: 10px;
    cursor: pointer;
    
}
.burger-bar{
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    display: none;
}